PROBLEM SET 2

Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

Answer- The final output will be '6'. When we execute function 'b' for the first time, the value of 'a' passed is '0', again '0' is passed in function 'c' and it returns (0+2) = 2. Now the value of 'a' is 2. When we execute function 'b' for the second time, the value of 'a' passed is '2', again '2' is passed in function 'c' and it returns (2+2) = 4. Now the value of 'a' is 4. When we execute function 'b' for the third time, the value of 'a' passed is '4', again '4' is passed in function 'c' and it returns (4+2) = 6. Now the value of 'a' is 6. 
Hence, the final output will be 6.

In [2]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
b()
b()
b()
print(a)

6

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

Answer

In [3]:
def fileLength(fileName):
    try:
        f = open(fileName, "r");
        print(len(f.read()))
        f.close()
    except:
        print("File %s not found"%(fileName))
        
fileLength("FileLength.txt")
fileLength("worngFileName.txt")

123
File worngFileName.txt not found

Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

Answer - 3

In [4]:
class Marsupial(object):
        def __init__(self):
            self.contents = []
        def put_in_pouch(self, thing):
            self.contents.append(thing)
        def pouch_contents(self):
            print(self.contents)


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super(Kangaroo, self).__init__()
        self.x = x
        self.y = y
    def jump(self, dx, dy):
        self.x = self.x + dx
        self.y = self.y + dy
    
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({}, {})".format(self.x, self.y)
    
k = Kangaroo(0,0)
print(k)
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

Answer

In [5]:
def collatz(num):
    if num > 0:
        print(int(num))
        if(num == 1):
            return
        elif(num % 2 == 0):
            return collatz(num/2)
        else:
            return collatz((3 * num) + 1)
    else:
        print("Please enter a positive integer greater than 0.")
collatz(9)

9
28
14
7
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

Answer

In [6]:
binaryNum = ""
def binary(num):
    global binaryNum
    if num > 1:
        binary(num//2)
    binaryNum += str(num % 2)
    return int(binaryNum)
#binary(0)
#binary(1)
#binary(3)
binary(14)

1110

Question 6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

Answer

In [7]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    inHeading = False
    headingTag = ""
    def handle_starttag(self, tag, attrs):
        if tag == "h1" or tag == "h2" or tag == "h3" or tag == "h4" or tag == "h5" or tag == "h6":
            self.inHeading = True
            self.headingTag = tag
    def handle_data(self, data):
        if self.headingTag == "h1":
            print("{}".format(data))
        elif self.headingTag == "h2":
            print("\t{}".format(data))
        elif self.headingTag == "h3":
            print("\t\t{}".format(data))
        elif self.headingTag == "h4":
            print("\t\t\t{}".format(data))
        elif self.headingTag == "h5":
            print("\t\t\t\t{}".format(data))
        elif self.headingTag == "h6":
            print("\t\t\t\t\t{}".format(data))
    def handle_endtag(self, tag):
        if tag == "h1" or tag == "h2" or tag == "h3" or tag == "h4" or tag == "h5" or tag == "h6":
            self.inHeading = False

hParser = HeadingParser()
file = open("w3c.html", "r")
html = file.read()
file.close()
hParser.feed(html)

W3C Mission


	Principles

Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.
>>> 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

Answer

In [17]:
import requests
from bs4 import BeautifulSoup

def webdir(base, path, visited, depth=3, indent=0):
    if indent < depth:
        try:
            soup = BeautifulSoup(requests.get(base + path).text, "html.parser")
            for link in soup.find_all("a"):
                href = link.get("href")
                if href not in visited:
                    visited.add(href)
                    print_in_indentation(indent, href)
                    webdir(base, href, visited, depth, indent + 1 )
        except:
            pass

def print_in_indentation(indent, href):
    for indentation in range(indent):
        print ("\t" , end = '')
    print(href)
    
webdir("https://www.cbc.ca/contents", "", set(["https://www.cbc.ca/"]), 3, 0)

https://pubads.g.doubleclick.net/gampad/ad?iu=5876/miscsz=728x90&c=123456789
	http://www.cbc.ca
		/sitemap/
		https://www.cbc.ca
		https://www.cbc.ca/television/
		https://www.cbc.ca/radio/
		https://www.cbc.ca/news
		https://www.cbc.ca/sports
		https://www.cbcmusic.ca/
		https://www.cbc.ca/life
		/arts/
		https://www.cbc.ca/kidscbc2/
		https://www.cbc.ca/news/canada#region-nav
		https://www.cbc.ca/documentaries/
		https://www.cbc.ca/comedy
		https://www.cbc.ca/books/
		https://www.cbc.ca/parents/
		https://www.cbc.ca/news/indigenous
		https://www.cbc.ca/archives/
		https://www.cbc.ca/kids/games/
		http://www.cbc.ca/contests/
		https://www.cbc.ca/mycbc/
		https://www.cbc.ca/sitemap/
		https://cbchelp.cbc.ca/hc/en-ca/categories/115000249853-Help-with-CBC-Apps
		https://www.cbc.ca/rss/
		https://www.cbc.ca/radio/podcasts/
		https://subscriptions.cbc.ca/listmanagement
		http://www.cbc.radio-canada.ca/en
		https://www.cbc.ca/appearances/
		https://cbchelp.cbc.ca/hc/en-us/sections/203864688-Using-or-licensing-CBC-content
		https://www.cbc.ca/aboutcbc/discover/termsofuse.html
		https://www.cbc.ca/aboutcbc/discover/privacy.html
		https://www.cbcshop.ca/
		https://cbchelp.cbc.ca
		https://cbchelp.cbc.ca/hc/en-ca/requests/new
		http://www.cbc.radio-canada.ca/en/explore/jobs/
		http://www.cbc.radio-canada.ca/en/explore/doing-business-with-us/
		/productionfacilities/
		http://www.cbc.radio-canada.ca/
		https://ici.radio-canada.ca/

Question 8
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [12]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\shali\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlparse in c:\users\shali\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\shali\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\shali\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\shali\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\shali\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: prettytable<1 in c:\users\shali\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\shali\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\shali\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: traitlets>=5 in c:\users\shali\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\shali\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\shali\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\shali\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\users\shali\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\shali\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: stack-data in c:\users\shali\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\shali\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\shali\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\shali\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\shali\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\shali\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: pure-eval in c:\users\shali\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\shali\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\shali\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

In [16]:
# import libraries
import pandas as pd
import sqlite3

In [17]:
df= pd.DataFrame({'City': ['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'London', 'London', 'London', 'London', 'Cairo', 'Cairo', 'Cairo', 'Cairo'], 
                  'Country': ['India', 'India', 'India', 'India', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'Egypt', 'Egypt', 'Egypt', 'Egypt'], 
                  'Season': ['Winter', 'Spring','Summer', 'Fall','Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall'], 
                  'Temperature':['24.8', '28.4', '27.9', '27.6', '4.2', '8.3', '15.7', '10.4', '13.6', '20.7', '27.7', '22.2'], 
                  'Rainfall': ['5.9', '16.2', '1549.4', '346.0', '207.7', '169.6', '157.0', '218.5', '16.5', '6.5', '0.1', '4.5']})

df

      City         Country  Season Temperature Rainfall
0   Mumbai           India  Winter        24.8      5.9
1   Mumbai           India  Spring        28.4     16.2
2   Mumbai           India  Summer        27.9   1549.4
3   Mumbai           India    Fall        27.6    346.0
4   London  United Kingdom  Winter         4.2    207.7
5   London  United Kingdom  Spring         8.3    169.6
6   London  United Kingdom  Summer        15.7    157.0
7   London  United Kingdom    Fall        10.4    218.5
8    Cairo           Egypt  Winter        13.6     16.5
9    Cairo           Egypt  Spring        20.7      6.5
10   Cairo           Egypt  Summer        27.7      0.1
11   Cairo           Egypt    Fall        22.2      4.5

In [18]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [20]:
conn = sqlite3.connect('Shalini.db')

df.to_sql('Weather1', conn)
%load_ext sql

%sql sqlite:///Shalini.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [21]:
%%sql
SELECT Temperature
FROM Weather1

   sqlite://
 * sqlite:///Shalini.db
Done.

[('24.8',),
 ('28.4',),
 ('27.9',),
 ('27.6',),
 ('4.2',),
 ('8.3',),
 ('15.7',),
 ('10.4',),
 ('13.6',),
 ('20.7',),
 ('27.7',),
 ('22.2',)]

In [22]:
%%sql
SELECT Distinct City
FROM Weather1

   sqlite://
 * sqlite:///Shalini.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [23]:
%%sql
SELECT *
FROM Weather1 Where Country = 'India'

   sqlite://
 * sqlite:///Shalini.db
Done.

[(0, 'Mumbai', 'India', 'Winter', '24.8', '5.9'),
 (1, 'Mumbai', 'India', 'Spring', '28.4', '16.2'),
 (2, 'Mumbai', 'India', 'Summer', '27.9', '1549.4'),
 (3, 'Mumbai', 'India', 'Fall', '27.6', '346.0')]

In [24]:
%%sql
SELECT *
FROM Weather1 Where Season = 'Fall'

   sqlite://
 * sqlite:///Shalini.db
Done.

[(3, 'Mumbai', 'India', 'Fall', '27.6', '346.0'),
 (7, 'London', 'United Kingdom', 'Fall', '10.4', '218.5'),
 (11, 'Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

In [25]:
%%sql
SELECT City, Country, Season
FROM Weather1 Where Rainfall BETWEEN 200 AND 400

   sqlite://
 * sqlite:///Shalini.db
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall'),
 ('Cairo', 'Egypt', 'Fall')]

In [26]:
%%sql
SELECT City, Country
FROM Weather1 Where Season = 'Fall' AND Temperature > 20 ORDER BY Temperature

   sqlite://
 * sqlite:///Shalini.db
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [27]:
%%sql
SELECT SUM(Rainfall)
FROM Weather1 Where City = 'Cairo'

   sqlite://
 * sqlite:///Shalini.db
Done.

[(27.6,)]

In [28]:
%%sql
SELECT Season, SUM(Rainfall)
FROM Weather1 GROUP BY Season

   sqlite://
 * sqlite:///Shalini.db
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

Question 9


. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

Answer

In [29]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
upper_case = []
lower_case = []
string_length = []
word_info_arr = []
word_filter = []
for word in words:
    upper_case.append(word.upper())
    lower_case.append(word.lower())
    string_length.append(len(word))
    word_info_arr.append([word.upper(), word.lower(), len(word)])
    if len(word) > 3:
        word_filter.append(word)
print(upper_case)
print(lower_case)
print(string_length)
print(word_info_arr)
print(word_filter)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']